@page
@model CIT_365_Web_MegaDesk.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Create a Quote</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Customer: <input type="text" asp-for="SearchCustomer"/> 
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CustomerSort">
                    @Html.DisplayNameFor(model => model.Quote[0].FirstName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].LastName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Quote[0].QuoteDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].DeskTopArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].DeskMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Rushdays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].QuoteTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskTopArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rushdays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
